.title {
    color: rgb(68, 108, 181);
    margin-top: 10%;
    margin-left: 40%;
}

.navbar {
    display: flex;
    background: rgb(15, 88, 15);
    padding: 1%;
}

.navbar_a {
    text-decoration: none;
    margin-left: 2%;
    color: white;
    font-size: 20px;
}

.link_profile_a {
    text-decoration: none;
    color: rgb(109, 57, 57);
    font-size: large;
}